h1{
    color: red;
    text-align: right;
    font-size: 70px;
    background-color:azure;
}
img{
    height: 400px;
    width: 600px;
    margin-left: 200px;
}
body{
    background-color: lightcoral;
}